<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Fox DashBoard</title>
</head>
<body>
    <div id="main-wrapper">
        <h1>Foxy DashBoard</h1>
        <div id="foxData">
            <% if(foxes) { %>
                <% for(let fox of foxes) { %>
                    <div class="fox-list">
                        <ul>
                            <li><strong>Name:</strong>&nbsp; <%= fox.name %></li>
                            <li><strong>Type:</strong>&nbsp; <%= fox.type %></li>
                            <li><strong>Fur:</strong>&nbsp; <%= fox.fur %></li>
                        </ul>
                        <a href="/foxes/update/<%= fox.id %>"><button class="btn btn-info">Update</button></a>
                        <a href="/foxes/delete/<%= fox.id %>"><button class="btn btn-danger">Delete</button></a>
                    </div>
                <% } %>
            <% } %>
            <a href="/foxes/new"><button style="float: right;" class="btn btn-primary btn-lg">Add Fox</button></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>